.item {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
}

.item-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: max-content;
    text-align: center;
    pointer-events: none;
    z-index: 2;
}
.item-background {
    z-index: -1;
    height: 200px;
    width: 240px;
}

