.header {
    display: flex;
    height: 3rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.nav-list li {
    display: inline-block;
}

.nav-list li button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

